body {
  background-color: #D8BFD8;
}

.text-justify {
  text-align: justify; text-indent: 30px;
}

h1 {
  padding-left: 50px;
}

h2 {
  margin-left: 15px;
}

.sidebar {
  background: #FFE4E1;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  min-height: 100%;
  width: 26%;
}


.my-photo {
  width: 370px;
}

.sidebar-text{
margin-left: 15px;
margin-right:15px;
}


.content {
background-color: #FFFAFA;
max-width: 100%;
width: 100%;
}

.image-size {
  height: 200px;
  width: 270px;
  padding: 10px;
  float:left;
}

.div {
  padding: 20px;
}
